/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

/* Begin styles */

body {
  background-color: #F0FFFF;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3em;
}

header {
  font-size: 2em;
  font-weight: bold;
  margin: 5px auto 10px auto;
  padding: 10px 0 0 0;
  width: 85%;
}

footer {
  margin: 5px auto 10px auto;
  padding: 5px 0 10px 0;
  text-align: center;
  width: 85%;  
}

nav {
  background-color: #fff;
  font-size: 1em;
  line-height: 1.5em;
  border: 1px solid #E8E8E8;
  margin: 0 auto 5px;
  width: 85%
}

#navmenu {
  padding: 5px;
}

header, nav, #stream {
  max-width: 800px;
}

a:link, a:visited, a:hover {
  color: #1395E8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tweet-time {
  color: #B0B0B0;
  font-size: .8em;
  line-height: 1em;
}

.username {
  font-weight: bold;
}

#stream {
  background-color: #fff;
  border: 1px solid #E8E8E8;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto 10px auto;
  width: 85%;
}

.tweet {
  padding: 5px 5px 20px 5px;  
}

.tweet-text {
  font-size: 1.5em;
  line-height: 1.8em;
}

/* When user mouses over a tweet, we'll change background color.
It's a nice and pleasant effect that Twitter also uses.*/
.highlight {
  background-color: #E6E6E6;
}

.highlight-new {
  display: none;
}

.avatar {
  display: inline;
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: blue;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  clear: both;
}