/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

/* Begin styles */

body {
  background-color: #F0FFFF;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3em;
}

header {
  font-size: 2em;
  font-weight: bold;
  margin: 5px auto 10px auto;
  padding: 10px 0 0 0;
  width: 85%;
}

footer {
  margin: 5px auto 10px auto;
  padding: 5px 0 10px 0;
  text-align: center;
  width: 85%;  
}

nav, #tweetstatus {
  background-color: #fff;
  font-size: 1em;
  line-height: 1.5em;
  border: 1px solid #E8E8E8;
  margin: 0 auto 5px;
  width: 85%
}

#navmenu {
  padding: 5px;
}

/* Clearfix */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

#tweetstatus {
  max-width: 800px;
}

#tweetstatus h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px 0 5px 5px;
}

.twitstatus {
  position: relative;
  margin: 0px 10px 5px 5px;
}

.twitstatus textarea {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;  
  font-size: 1.3em;
  width: 100%;

}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  float: right;
  font-size: 18px;
  background: #3498db;
  margin: 0 5px 5px 0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.tweetstatusfocus textarea {
  height: 100px;
}

header, nav, .stream, #tweetstatus, #userInfo {
  max-width: 800px;
}

a:link, a:visited, a:hover {
  color: #1395E8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tweet-time {
  color: #B0B0B0;
  display: inline-block;
  font-size: .8em;
  line-height: 1em;
}

.username {
  font-weight: bold;
}

.stream, #tweetstatus, #userInfo {
  background-color: #fff;
  border: 1px solid #E8E8E8;
  width: 85%;
}

.stream {
  border-radius: 5px;  
  -moz-border-radius: 5px;
  margin: 0 auto 10px auto; 
}

.streamPlusInfo {
  border-radius: 0;  
  -moz-border-radius: 0;
  margin: 0 auto 10px auto;   
}

#userInfo {
  border-radius: 5px 5px 0 0;  
  -moz-border-radius: 5px 5px 0 0;
  border-bottom: 0;
  margin: 0 auto 0px auto;
}

.tweet {
  padding: 5px 5px 20px 5px;
  position: relative;  
}

.tweet-text {
  display: inline-block;
  font-size: 1.5em;
  line-height: 1.5em;
}

/* Margin to move tweet information past the avatar.*/
.username, .tweet-text, .tweet-time {
  margin-left: 75px;
}

#usernameInfo {
  font-size: 3.5em;
  font-weight: bold;
  float: right;
  margin: 30px 25px 0 0;
}

#totalTweets {
  clear: both;
  float: right;
  color: #B0B0B0;
  margin: 25px 30px;
}

/* When user mouses over a tweet, we'll change background color.
It's a nice and pleasant effect that Twitter also uses.*/
.highlight {
  background-color: #F7F7F7;
}

.highlight-new {
  display: none;
}

.avatar {
  border: 1px solid black;
  display: block;
  width: 50px;
  height: 50px;
  margin: 5px 10px 0 10px;
  background: #FFFC54;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
}

#bigavatar {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 20px 10px 20px 20px;
  background: #FFFC54;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}